::-webkit-scrollbar{

    width:8px;

    height:8px;
}

::-webkit-scrollbar-track{

    background:#0f172a;
}

::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{

    background:#6366f1;
}